# Terraform specific ignores
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfvars
terraform/*.tfvars.json

# General ignores
.DS_Store
*.log